/node_modules
/uploads/avatars/*
!/uploads/avatars/no-photo.jpg
!/uploads/avatars/.gitkeep
/uploads/proofs/*
!/uploads/proofs/no-image.png
!/uploads/proofs/.gitkeep
/uploads/trips/*
!/uploads/trips/.gitkeep